button.error {
	background-color: red;
}
button.ok {
	background-color: lime;
}

#content div {
	padding: 16px;
	float: left;
}

#mat {
  display: grid; 
  grid-template-columns: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px ; 
  grid-template-rows: 48px 48px 48px 48px 48px 48px 48px; 
  gap: 2px 2px; 
}

#mat .mat_cell {
    border: 2px dotted rgb(255, 154, 162);
}

#keypad {
  display: grid; 
  grid-template-columns: 64px 64px 64px;
  grid-template-rows: 64px 64px 64px 64px; 
  gap: 8px 8px; 
}

#keypad div {
    border-radius: 25px;
    border: 2px solid #C7CEEA;
    text-align: center;

    /* this 4 lines is what you need these days for vertical align */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#touchpad {
  display: grid; 
  grid-template-columns: 48px auto 48px; 
  grid-template-rows: 48px auto 48px; 
  gap: 8px 8px; 
  grid-template-areas: 
    "head head head"
    "left canvas right"
    "foot foot foot"; 
}

#touchpad div {
    text-align: center;

    /* this 4 lines is what you need these days for vertical align */
    display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.tp_foot { grid-area: foot; }
.tp_head { grid-area: head; }
.tp_left { grid-area: left; }
.tp_right { grid-area: right; }
.tp_canvas { grid-area: canvas;
    border: 2px solid #B5EAD7;
}

#tp {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

#slider {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background: #FFDAC1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 25px;
  border 2px solid 
  appearance: none;
  width: 32px;
  height: 32px;
  background: #FFDAC1;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border-radius: 25px;
  background: #FFDAC1;
  cursor: pointer;
}

#powerlinkDiv{
  display: grid; 
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%; 

  grid-template-areas: 
    "multitouch keypad"
    "forcepad slider";
}

#power {
    stroke-width: var(--border-width);
    stroke: var(--main-color);
}