:root{
  --main-color: white;
  --highlight-color: #F46A24;
  --bg-color: #666666;

  /* set by resize.js */
  --main-width: 900px;
  --main-height: 666px;

  --border-width: 1px;
  --keypad-font-size: 9px;
  --label-font-size: calc( var(--main-width)*0.018);


  color:var(--main-color);
  background-color:var(--bg-color);
  font-size: var(--label-font-size);

  font-family: "DINPro",sans-serif;
  font-weight: 400;

  box-sizing: border-box; /* to have the border line on the div inside */

}

/* TOP BAR */
#topBar{
  position:absolute;
  z-index: 10;
  width: 100%;
  /* height: calc(var(--main-height)/10); */
  top: 0;
  left: 0;
  background-color: var(--highlight-color);

  font-size: calc(var(--label-font-size));

  display: block;
}

#settingsButton{
  position:absolute;
  z-index:20;
  right: 1%;
  top: 0;
}

/* GENERAL */

.border{
  border: var(--border-width) solid var(--main-color);
}

.label span{
position: relative;
padding: 10px;
}

/* MAIN */
main{
  width: var(--main-width);
  height: var(--main-height);

  /* background: gray; */

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* NATHAN'S */

#content div {
	padding: 16px;
	float: left;
}

#mat {
  height: 100%;
  display: grid; 
  grid-template-columns: repeat(11, calc( 100%/11)); 
  grid-template-rows: repeat(6, calc( 100%/6)); 
  gap: 0px 0px; 
}

#mat .mat_cell {
    border: 0px solid var(--main-color);
}

#keypad {
    /* variables */
    --button-radius: 50%;
    --gap-h: 6.66%;
    --gap-w: 10%;
    
    display: grid; 
    grid-template-columns: repeat(3, calc( (100% - 2*var(--gap-w))/3) );  /* calculates width % that each button takes, depending on gap variable. repets 3x for 3 button collumns*/
    grid-template-rows: repeat(4, calc(100% - 2*var(--gap-h))/4 ); 
    
    gap: var(--gap-h) var(--gap-w) ;
}

#keypad div {
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--main-color);
  text-align: center;

  font-size: calc(var(--main-width)*0.025);

  /* this 4 lines is what you need these days for vertical align */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.key-active {
  background-color: var(--highlight-color);
}

#kp_0{
  grid-column: span 2;
  padding-left: 55%;
  border-radius: calc(var(--button-radius)/2)/var(--button-radius) !important;
}


.tp_canvas { grid-area: canvas;
    /* border: 2px solid #B5EAD7; */
    z-index:99;
}

#tp {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0px;
  
  -webkit-transition: .2s;
  transition: opacity .2s;

  box-sizing: border-box; 
  border-top: solid;  
  border-width: var(--border-width);
  border-color: var(--main-color);

  top: 40%;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--main-color);
  appearance: none;
  width: calc( var(--main-width)*0.03 );
  height: calc( var(--main-width)*0.03 );
  background: var(--bg-color);
  cursor: pointer;
}

#sliderLabelDiv{
  height:6%;
}

#slider-label {
  top: 70%;
}

#powerlinkDiv{
  display: grid; 
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%; 

  grid-template-areas: 
    "multitouch keypad"
    "forcepad slider";
}

#power {
    stroke-width: var(--border-width);
    stroke: var(--main-color);
}

/* LAYOUT */

.container {  display: grid;
  grid-template-columns: 65% 10% 25%;
  grid-template-rows: 45% 5% 45% 5fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "multitouch-box . keypad-box"
    "multitouch-label . keypad-label"
    "forcepad-box . bottomRight-box"
    "forcepad-label . bottomRight-label";
}

.multitouch-box { grid-area: multitouch-box; }

.keypad-box { grid-area: keypad-box; }

.multitouch-label { grid-area: multitouch-label; }

.forcepad-box { grid-area: forcepad-box; }

.forcepad-label { grid-area: forcepad-label; }

.keypad-label { grid-area: keypad-label; }

.bottomRight-box {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45% 10%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "slider-box slider-box"
    "power-box qr-box"
    "logo-box logo-box";
  grid-area: bottomRight-box;
}

.slider-box { grid-area: slider-box; }

.power-box { grid-area: power-box; }

.qr-box { grid-area: qr-box; }

.logo-box { grid-area: logo-box; }

.bottomRight-label { grid-area: bottomRight-label; }


html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

/* .container * {
  border: 1px solid red;
  position: relative;
} */

/* .container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
} */






/* FONTS */
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
      url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
      url('../fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.woff2') format('woff2'),
      url('../fonts/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Black.woff2') format('woff2'),
      url('../fonts/DINPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Light.woff2') format('woff2'),
      url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}