main{
  width: var(--main-width);
  height: var(--main-height);

  background: gray;

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container {  display: grid;
  grid-template-columns: 65% 10% 25%;
  grid-template-rows: 45% 5% 45% 5fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "multitouch-box . keypad-box"
    "multitouch-label . keypad-label"
    "forcepad-box . bottomRight-box"
    "forcepad-label . bottomRight-label";
}

.multitouch-box { grid-area: multitouch-box; }

.keypad-box {  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "key7 key8 key9"
    "key4 key5 key6"
    "key1 key2 key3"
    "key0 key0 keyDot";
  grid-area: keypad-box;
}

.key7 { grid-area: key7; }

.key8 { grid-area: key8; }

.key9 { grid-area: key9; }

.key4 { grid-area: key4; }

.key5 { grid-area: key5; }

.key6 { grid-area: key6; }

.key1 { grid-area: key1; }

.key2 { grid-area: key2; }

.key3 { grid-area: key3; }

.key0 { grid-area: key0; }

.keyDot { grid-area: keyDot; }

.multitouch-label { grid-area: multitouch-label; }

.forcepad-box { grid-area: forcepad-box; }

.forcepad-label { grid-area: forcepad-label; }

.keypad-label { grid-area: keypad-label; }

.bottomRight-box {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45% 10%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "slider-box slider-box"
    "power-box qr-box"
    "logo-box logo-box";
  grid-area: bottomRight-box;
}

.slider-box { grid-area: slider-box; }

.power-box { grid-area: power-box; }

.qr-box { grid-area: qr-box; }

.logo-box { grid-area: logo-box; }

.bottomRight-label { grid-area: bottomRight-label; }


html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

