:root{
  --main-color: white;
  --highlight-color: red;
  --bg-color: #666666;

  /* set by resize.js */
  --border-width: 1px;
  --font-size: 9px;

  color:var(--main-color);
  background-color:var(--bg-color);
  font-size: var(--font-size);

  font-family: "DINPro",sans-serif;
  font-weight: 400;
}

.line{
  box-sizing: border-box; /* to have the border line on the div inside */
  border-style: solid;  
  border-width: var(--border-width);
  border-color: var(--main-color);
}

#container{
  width: 900px;
  height: 666px;

  background: gray;

  display: grid;
  grid-template-columns: 65% 25%;
  gap: 10% ;

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}


/* PAD COLUMN */

.pad{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 47%;
}

.pad-below{
height: 6%
}



/* KEYPAD */


#keypad-proportions {
  width: 100%;
  padding-top: 133.3%;
  position: relative;
}

#keypad {
  /* variables */
  --button-radius: 50%;
  --gap: 5%;

  /* keep everythign innside 'el-proportions' parent element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  display: grid; 
  grid-template-columns: 
    calc( (100% - 2*var(--gap))/3)
    calc( (100% - 2*var(--gap))/3)
    calc( (100% - 2*var(--gap))/3)
    ;
  grid-template-rows: 
   calc( (100% - 3*var(--gap))/4)
   calc( (100% - 3*var(--gap))/4)
   calc( (100% - 3*var(--gap))/4)
   calc( (100% - 3*var(--gap))/4)
    ; 
  
  gap: var(--gap) ;
}

#keypad div {
    border-radius: var(--button-radius);
    border: var(--border-width) solid var(--main-color);
    text-align: center;

    /* this 4 lines is what you need these days for vertical align */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#kp_0{
  grid-column: span 2;
  padding-left: 55%;
  border-radius: calc(var(--button-radius)/2)/var(--button-radius) !important;
}






/* FONTS */
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
      url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
      url('../fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.woff2') format('woff2'),
      url('../fonts/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Black.woff2') format('woff2'),
      url('../fonts/DINPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Light.woff2') format('woff2'),
      url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
