

/* NATHAN'S */

#mat {
  height: 100%;
  display: grid; 
  grid-template-columns: repeat(10, calc( 100%/10)); 
  grid-template-rows: repeat(6, calc( 100%/6)); 
  gap: 0px 0px; 
  
  /* border-radius: 5px; */

  background-image: url("imgs/bg_multitouch10x6.svg");
}

#mat .mat_cell {
    border: 0px solid var(--main-color);
    background-color: var(--highlight-color);
    opacity: 0;
    margin: 1%;
    /* border-radius: 10%; */
     -webkit-transition: var(--transition);
    transition: opacity var(--transition);

    font-size: 10px;
}

#keypad {
    /* variables */
    --button-radius: 50%;
    --gap-h: 6.66%;
    --gap-w: 10%;
    
    display: grid; 
    grid-template-columns: repeat(3, calc( (100% - 2*var(--gap-w))/3) );  /* calculates width % that each button takes, depending on gap variable. repets 3x for 3 button collumns*/
    grid-template-rows: repeat(4, calc(100% - 2*var(--gap-h))/4 ); 
    
    gap: var(--gap-h) var(--gap-w) ;
}

#keypad div {
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--main-color);
  text-align: center;

  font-size: calc(var(--main-width)*0.025);

  /* this 4 lines is what you need these days for vertical align */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  
  -webkit-transition: var(--transition);
  transition: opacity var(--transition);
}

.key-active {
  background-color: var(--highlight-color);
  -webkit-transition: var(--transition);
  transition: opacity var(--transition);
}

#kp_0{
  grid-column: span 2;
  padding-left: 55%;
  border-radius: calc(var(--button-radius)/2)/var(--button-radius) !important;
}

#touchpad{
  background-image: url("imgs/bg_forcepad10x6.svg");
  background-repeat: repeat;
  background-size: 70%;
}

#press{
  opacity: 0;
  width: 50px;
  height: 50px;
  position:relative;
  top: 35px;
  left: 595px;
  
  
  background-color: var(--highlight-color);
  border-radius: 50%;
  z-index: -10;
}


#tp_canvas { grid-area: canvas;
    /* border: 2px solid #B5EAD7; */
    overflow: hidden !important;
    z-index:99;
    height: 100%;
}

#tp {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

/* LAYOUT grid.layoutit.com?id=FSDDXNh */
.container * {
  position: relative;
}

#sample-container{  
  display: grid;
  grid-template-columns: 56% 10% 25%; /* LAYOUT */
  grid-template-rows: 45% 5% 45% 5%;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "multitouch-box . keypad-box"
    "multitouch-label . keypad-label"
    "forcepad-box . bottomRight-box"
    "forcepad-label . bottomRight-label";
}

.multitouch-box { grid-area: multitouch-box; }

.keypad-box { grid-area: keypad-box; }

.multitouch-label { grid-area: multitouch-label; 
position:relative;
top: -80%;
left: 2%;
z-index: 100;
}

.forcepad-box { grid-area: forcepad-box; }

.forcepad-label { grid-area: forcepad-label; 
  position:relative;
  top: -5%;
  left: 2%;
  z-index: 100;
  font-size: clamp(13px, var(--label-font-size), 15px) ;
  font-family: "DINPro",sans-serif;
  font-weight: 400;
}

.keypad-label { grid-area: keypad-label; 
padding-top: 7%;
}

.bottomRight-box {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "slider-box slider-box"
    "power-box logo-box";
  grid-area: bottomRight-box;
}

.slider-box { grid-area: slider-box; }

#slider input {
  -webkit-appearance: none;
  width: 100%;
  height: 0px;
  
  -webkit-transition: var(--transition);
  transition: opacity var(--transition);

  box-sizing: border-box; 
  border-top: solid;  
  border-width: var(--border-width);
  border-color: var(--main-color);
}

#slider{
  top:45%
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
  border-radius: 50%;
  border: var(--border-width) solid var(--main-color);
  appearance: none;
  width: calc( var(--main-width)*0.025 );
  height: calc( var(--main-width)*0.025 );
  background: var(--slider-thumb-color);
  transition: 1s;
  cursor: pointer;
}

.highlight{
  background: var(--highlight-color) !important;
}

.slider-label {
  position: relative;
  padding-top: 10%;
}

.power-box { grid-area: power-box; }

#power {
  stroke-width: var(--border-width);
  stroke: var(--main-color);

  position: relative;
  top: 8%;

  /* padding: 10%; */
  width: 80%;
  height: auto;

  fill:none;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

#power-label{
top:16%
}

.logo-box { grid-area: logo-box; }


.bottomRight-label { grid-area: bottomRight-label; 

}

#logo{
  width: 90%;
  top: 79%;
  left: 10%;
}

html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

/* .container * {
  border: 0.1px solid grey;
  z-index: -50;
} */

/* .container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: red;
  z-index: -50;
} */


