/* To flip between left/right sole */
.flip-x{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-y{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#flip-button{
  border: 0px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

#flip-button img{
  width: 100%;
  top: 50%;
}






