:root{
  /* 
  Set the desired size/aspect ration of <main>.
  It might be different for sample, sole, etc... 

  'resize.js' will resize it to always fit the screen and maintain the ratio
  */
  --main-width: 444px;
  --main-height: 697px;
}


#sole-container{  
  display: grid;
  grid-template-columns: 50% 50%; /* LAYOUT */
  
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "sole-box ."
}


#touchpad{
  background-image: url("imgs/bg_forcepad10x6.svg");
  background-color: aquamarine;

  
}

#press{
  opacity: 0;
  width: 50px;
  height: 50px;
  position:relative;
  top: 35px;
  left: 595px;
  
  
  background-color: var(--highlight-color);
  border-radius: 50%;
  z-index: -10;
}


#tp_canvas { grid-area: canvas;
    /* border: 2px solid #B5EAD7; */
    overflow: hidden !important;
    z-index:99;
    height: 100%;
}

#tp {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

.forcepad-box { grid-area: forcepad-box; }

.forcepad-label { grid-area: forcepad-label; 
  position:relative;
  top: -80%;
  left: 2%;
  z-index: 100;
}




